<!DOCTYPE html>
<html>
<head>
  <title>Redditor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% flash.each do |name, message| %>
      <%= content_tag :div, message, class: "alert alert-#{name}" %>
    <% end %>
    <% if session[:welcome_message] %>
    <h1><%= session[:welcome_message] %></h1>
    <% end %>
    <div class="col-xs-10">
      <%= yield %>
    </div>
    <div class="col-xs-2">
      <% if @current_user %>
        <h6>Howdy, <%= @current_user.name %></h6>
        <%= link_to "New Link", new_link_path, :class => "btn btn-large btn-primary", "data-toggle" => "modal", "data-target" => "#newPost", "data-remote" => "false" %>
        <%= link_to "Log out", user_session_path(@current_user), :method => :delete, :class => "btn btn-large btn-danger" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, :class => "btn btn-large btn-primary", :id => "login-button" %>
        <%= link_to "Sign up", new_user_path, :class => "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>
  <script id="extra_template" type="text/x-handlebars-template">
    <div class="alert alert-{{type}}">
      {{alert}}
    </div>
  </script>

  <!-- Modal -->
  <div class="modal fade" id="newPost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Post</h4>
        </div>
        <div class="modal-body">
          <%= render :partial => "shared/link_form" %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
